
html, body, header, main, section, article, footer, h1, h2, h3, h4, h5, ul, ol, li, a, p {
  margin: 0px;
  padding: 0px;
}

html {
  height: 100%;
}

body {
  height: 100%;
  line-height: 1.5;
  font-family: 'superMario';
  color: white;
}

body header {
  padding-top: 20px;
  margin: 0 auto;
}

h1 {
  margin-bottom: 45px;
   line-height: 1.5;
}


a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: white;
}

@font-face {
  font-family: 'superMario';
  src: url('../resources/font/prstart.ttf');
}
