body {
  background: url('../resources/img/sm_background_portrait.png') no-repeat center center fixed;  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body header {
  height: 100%; 
  padding: 60px 30px;
  margin: 0 auto;
}

body header h1 {
  font-size: 26px;
  line-height: 2.0;
  font-weight: 600;
}

main {
  width: 100%;
  margin-top: -45px;
  background: 
    url('../resources/img/sm_pipe_top_portrait.png') no-repeat center top scroll,
    url('../resources/img/sm_pipe_center_portrait.png') repeat-y center top scroll;  
  padding-top: 85px;
}

ul {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  margin: 0 auto;
}

li {
  display: inline-block;
  white-space: nowrap;
  list-style-type: none;

}

.year {
  font-size: 24px;
  font-weight: 600;
  margin: 20px auto;
}


li article {
  white-space: normal;
  background-color: black;
  border: 4px solid white;
  border-radius: 5px;
  padding: 20px 10px;
  text-align: center;
  display: inline-block;
  width: 280px;
  width: 280px;
}


li article:hover {
  border-color: #cdf009;
}

li article h3 {
  text-transform: uppercase;
  font-size: 14px;
}

li article h4 {
  font-size: 14px;
  margin: 5px 0;
}

li article img {
  border: 1px dashed white;
  margin: 15px 0 10px 0px;
  width: 200px;
  height: auto;
}


li article img:hover {
  border: 2px dashed #cdf009;
}

.sign {
  margin-top: 50px;
  font-size: 12px;
  color: black;
  opacity: 0.6;
  text-align: right;
}


/** smartphone landscape */
@media screen and (orientation: landscape) {
  body {
      background: url('../resources/img/sm_background_landscape.png') no-repeat center center fixed;  
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
}

@media screen and (max-width: 1280px) and (min-width: 750px) {
    body {
      background: url('../resources/img/tb_background_portrait.png') no-repeat center center fixed;  
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    main {
      background: 
        url('../resources/img/tb_pipe_top_portrait.png') no-repeat center top scroll,
        url('../resources/img/tb_pipe_center_portrait.png') repeat-y center top scroll;
        margin-top: -125px;
        padding-top: 165px;
    }
    body header { 
      width: 80%;
      padding-top: 75px;
    }
    
    body header h1{
      font-size: 40px;
    }

    .sign {
      font-size: 25px;
    }


    .year {
      font-size: 44px;
    }
}

@media screen and (min-width: 1281px) {
    body {
      background: url('../resources/img/pc_background.png') no-repeat center center fixed;  
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

    main {
      background: 
        url('../resources/img/pc_pipe_top.png') no-repeat center top scroll,
        url('../resources/img/pc_pipe_center.png') repeat-y center top scroll;  
      margin-top: -65px;
      padding-top: 105px;

    }
    
    body header {
      width: 60%;
    }



    body header h1{
      font-size: 40px;
    }

    .sign {
      font-size: 25px;
    }

    .year {
      font-size: 44px;
    }
}
