body {
  background: url('../resources/img/background_475.png') no-repeat center center fixed;  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body header {
  height: 100%; 
  padding: 30px;
  margin: 0 auto;
}

body header h1 {
  font-size: 23px;
  line-height: 2.0;
  font-weight: 600;
}

main {
  width: 100%;
  margin-top: -45px;
  background: url('../resources/img/top_pipe_475.png') no-repeat center top scroll,
              url('../resources/img/center_pipe_475.png') repeat-y center top scroll;  
  padding-top: 85px;
}

ul {
  text-align: center;
}

li {
  display: inline-block;
  white-space: nowrap;
  list-style-type: none;
  width: 85%;
}

.year {
  font-size: 24px;
  font-weight: 600;
  margin: 20px auto;
}


li article {
  white-space: normal;
  background-color: black;
  border: 3px solid white;
  border-radius: 5px;
  box-shadow: 3px;
  margin: 10px auto;
  padding: 15px;
  text-align: justify;
}

li article h3, li article h4 {
  text-align: center;
  text-transform: uppercase;
}

li article p {
  margin: 10px 15px;
}

.sign {
  margin-top: 50px;
  font-size: 12px;
  color: black;
  opacity: 0.6;
  text-align: right;
}

@media screen and (min-width: 901px){
  header {
    height: 86%;
  } 
}

@media screen and (max-width: 1440px) and (min-width: 780px) {
    body {
      background: url('../resources/img/background_900.png') no-repeat center center fixed;  
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    main {
        background: url('../resources/img/top_pipe_900.png') no-repeat center top scroll,
                    url('../resources/img/center_pipe_900.png') repeat-y center top scroll;
    }
    header {
      width: 70%;
    }
}

@media screen and (min-width: 1441px) {
    body {
      background: url('../resources/img/background_1920.png') no-repeat center center fixed;  
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    main {
      background: url('../resources/img/top_pipe_1920.png') no-repeat center top scroll,
                  url('../resources/img/center_pipe_1920.png') repeat-y center top scroll;  
    }
    header {
      width: 50%;
    }
}
