


html {
  height: 100%;
}

body {
  height: 100%;
  background: url('../resources/img/background_475.jpg') no-repeat center center fixed;  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'superMario';
  padding: 30px;
  
}

body header {
  height: 100%;
  box-sizing: border-box;
}



@media screen and (max-width: 900px) and (min-width: 600px) {
    body {
      background: url('../resources/img/background_900.jpg') no-repeat center center fixed;  
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
}

@media screen and (max-width: 1440px) and (min-width: 901px) {
    body {
      background: url('../resources/img/background_1440.jpg') no-repeat center center fixed;  
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
}


@media screen and (min-width: 1041px) {
    body {
      background: url('../resources/img/background_1920.jpg') no-repeat center center fixed;  
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
}


h1{
  font-size: 48px;
  margin-bottom: 40px;
  color: white;

}

h2 {
  margin-top: 20;
  color: white;
}

@font-face {
  font-family: 'superMario';
  src: url('../resources/font/prstart.ttf');
}



