


html {
  height: 100%;
}

body {
  height: 100%;
  background: url('../resources/img/background_475.jpg') no-repeat center center fixed;  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'superMario';
  padding: 60px 0px 30px 0px; 
}

header {
  height: 90%;
}

main {
  background: url('../resources/img/top_pipe_475.png') no-repeat center top scroll,
              url('../resources/img/center_pipe_475.png') repeat-y center top scroll;  
  padding: 100px 5px;
}



h1{
  font-size: 36px;
  margin: 30px auto 60px auto;
  color: white;

}

h2, h3, h4 {
  margin: 15px;
  color: white;
}


@font-face {
  font-family: 'superMario';
  src: url('../resources/font/prstart.ttf');
}


@media screen and (min-width: 901px){
  header {
    height: 86%;
  } 
}

@media screen and (max-width: 1440px) and (min-width: 901px) {
    body {
      background: url('../resources/img/background_900.jpg') no-repeat center center fixed;  
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    main {
        background: url('../resources/img/top_pipe_900.png') no-repeat center top scroll,
                    url('../resources/img/center_pipe_900.png') repeat-y center top scroll;
    }
}

@media screen and (min-width: 1441px) {
    body {
      background: url('../resources/img/background_1920.jpg') no-repeat center center fixed;  
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    main {
      background: url('../resources/img/top_pipe_1920.png') no-repeat center top scroll,
                  url('../resources/img/center_pipe.png') repeat-y center top scroll;  
      padding: 30px 10px;
    }
}
